<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="OpenIdCookieDomain" value="" />
    <add key="OpenIdLoginRedirect" value="/Account/Login" />
    <add key="OpenIdLogoutRedirect" value="/Account/SignOut" />
    <add key="OpenIdAzureAdSilentLogin" value="/Account/SignSilentlyInWithAzureAd" />
    <add key="OpenIdAzureAdClientId" value="" />
    <add key="OpenIdAzureAdClientSecret" value="" />
    <add key="OpenIdAzureAdClientScopes" value="openid profile offline_access" />
    <add key="OpenIdAzureAdAuthority" value="https://login.microsoftonline.com/{REPLACE_WITH_YOUR_TENANT_ID}/v2.0" />
    <add key="OpenIdAzureAdRedirectUri" value="https://localhost:8081/account/login" />
    <add key="OpenIdAzureAdPostLogoutRedirectUri" value="https://localhost:8081/account/login" />
    <add key="OpenIdAzureAdNameClaimType" value="preferred_username" />
    <add key="OpenIdAzureAdRoleClaimType" value="role" />
    <add key="OpenIdAzureAdValidIssuers" value="https://sts.windows.net/{REPLACE_WITH_YOUR_TENANT_ID}/,https://login.microsoftonline.com/{REPLACE_WITH_YOUR_TENANT_ID}/v2.0" />
    <add key="OpenIdAzureAdValidAudiences" value="" />
    <add key="OpenIdAzureAdB2CSilentLogin" value="/Account/SignSilentlyInWithAzureAdB2c" />
    <add key="OpenIdAzureAdB2CClientId" value="" />
    <add key="OpenIdAzureAdB2CClientSecret" value="" />
    <add key="OpenIdAzureAdB2CClientScopes" value="openid offline_access https://{REPLACE_WITH_YOUR_TENANT}.onmicrosoft.com/{REPLACE_WITH_YOUR_SCOPE}" />
    <add key="OpenIdAzureAdB2CAuthority" value="https://{REPLACE_WITH_YOUR_TENANT}.b2clogin.com/{REPLACE_WITH_YOUR_TENANT}.onmicrosoft.com/{REPLACE_WITH_YOUR_POLICY}/v2.0" />
    <add key="OpenIdAzureAdB2CRedirectUri" value="https://localhost:8081/account/login" />
    <add key="OpenIdAzureAdB2CPostLogoutRedirectUri" value="https://localhost:8081/account/login" />
    <add key="OpenIdAzureAdB2CNameClaimType" value="emails" />
    <add key="OpenIdAzureAdB2CRoleClaimType" value="role" />
    <add key="OpenIdAzureAdB2CValidIssuers" value="https://solidfdvtest.b2clogin.com/{REPLACE_WITH_YOUR_TENANT_ID}/v2.0/,https://solidfdvtest.b2clogin.com/tfp/{REPLACE_WITH_YOUR_TENANT_ID}/{REPLACE_WITH_YOUR_POLICY}/v2.0/" />
    <add key="OpenIdAzureAdB2CValidAudiences" value="" />
    <add key="OpenIdAzureAdJwtValidAudience" value="" />
    <add key="OpenIdAzureAdJwtClientId" value="" />
    <add key="OpenIdAzureAdJwtIssuer" value="https://sts.windows.net/{REPLACE_WITH_YOUR_TENANT_ID}/" />
    <add key="OpenIdAzureAdJwtAuthority" value="https://login.microsoftonline.com/{REPLACE_WITH_YOUR_TENANT_ID}/v2.0" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="20" cookieless="UseCookies" />
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>